.DS_Store
node_modules
/build
/.svelte-kit
/.netlify/functions-internal
/.netlify/functions
/.netlify/netlify.toml
/.netlify/server
/.netlify/serverless.js
/.netlify/shims.js
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
